/*
* Sumário:
*
* 0 - Geral
* 1 - Header
* 2 - Body
* 	2.1 - Slider
* 3 - Quem Somos
*/
/*** 0 - Geral
*  ██████╗ ███████╗██████╗  █████╗ ██╗
* ██╔════╝ ██╔════╝██╔══██╗██╔══██╗██║
* ██║  ███╗█████╗  ██████╔╝███████║██║
* ██║   ██║██╔══╝  ██╔══██╗██╔══██║██║
* ╚██████╔╝███████╗██║  ██║██║  ██║███████╗
*  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
*
*/
:root{
	--blue-header: #85CDF5;
	--primary-black: #333333;
	--dark-blue: #2C5680;
    --gray: #E6E6E6;
    --white: #fafafa;
    --yellow: #DEB959;
}
.conteiner{
	width: 960px;
	margin: auto;
}
html{
	font-family: 'Darker Grotesque', sans-serif;
}
/*** 1 - Header
* ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
* ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
* ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
* ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
* ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
* ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*
*/

.header {
	background: var(--blue-header);
	height: 130px;
	width: 100vw;
	z-index: 8;
	transition: .3s;
}
.nossos-lobos{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.fale-conosco{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.header img{
	position: absolute;
	top: 96px;
	transform: translateY(-50%) translateY(-50%);
	left: 50%;
}

.links-head{
	text-decoration: none;
	font-weight: bold;
	color: var(--primary-black);
	font-size: 1.5em;
	font-style: none;
	top: 50px;
}

.nossos-lobos:after{
	content: "";
	display: block;
	background: var(--primary-black);
	height: 4px;
	width: 0;
	transition: .3s;
	margin-top: 7px;
}

.nossos-lobos:hover:after{
	width: 75%;
	transition: .3s;
}

.fale-conosco:after{
	content: "";
	display: block;
	float: right;
	background: var(--primary-black);
	height: 4px;
	width: 0;
	transition: .3s;
	margin-top: 7px;
}

.fale-conosco:hover:after{
	width: 75%;
	transition: .3s;
}

.sticky{
	position: fixed;
	top: 0;
	height: 100px;
}

.sticky + .conteiner{
	padding-top: 102px;
}

/*** 2 - Body
 * ██████╗  ██████╗ ██████╗ ██╗   ██╗
 * ██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
 * ██████╔╝██║   ██║██║  ██║ ╚████╔╝ 
 * ██╔══██╗██║   ██║██║  ██║  ╚██╔╝  
 * ██████╔╝╚██████╔╝██████╔╝   ██║   
 * ╚═════╝  ╚═════╝ ╚═════╝    ╚═╝   
 *                                      
 */

.conteiner{
	width: 960px;
}

/* 2.1 - Slider*/

* {box-sizing:border-box}

/* Slideshow container */
#slider-section {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* 3 - Quem Somos*/

.quem-somos-text h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.667em;
    padding: 50px 0;
    text-align: center;
}

.quem-somos-text p{
    font-family: 'Darker Grotesque', sans-serif;
	font-size: 1.5em;
	font-style: normal;
    text-align: center;
	letter-spacing: 0.155em;
	padding:0 20px 0;
	margin-bottom: 55px;
}

/* 4 - Fale Conosco*/

.talk{
	height: 800px;
}

.talk h2 {
	text-align: center;
	font-family: 'Darker Grotesque', sans-serif;
    font-size: 3.75em;
	text-align: center;
	margin: 50px 0 25px;
}


.form-div{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.form p{
	font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3em;
}

.form-input {
    width: 760px;
    height: 40px;
    background: var(--gray);
    margin-bottom: 25px;
    border: 1px solid var(--black);
    padding-left: 10px;
}

.form-msg {
    background: var(--gray);
    margin-bottom: 50px;
    border: 1px solid var(--black);
}

.form button{
	background: var(--dark-blue);
    color: var(--white);
    padding: 2px 60px 9px;
	transition: .3s;
	border: none;
	font-style: normal;
	font-size: 30px;
	line-height: 49px;
	position: relative;
	left: 50%;
    transform: translateX(-50%);
}

/* 09 - Footer*/

.footer::before {
    content: '';
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, var(--yellow), var(--dark-blue));
    display: block;
}

.footer {
    width: 100%;
    background: var(--primary-black);
}

.footer a {
    text-decoration: none;
    color: var(--black);
}

.footer-map {
    max-width: 250px;
    display: inline-block;
    padding: 50px 50px 0 0;
}

.infos {
    max-width: 350px;
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 20px;
}

.info-item img {
    display: inline-block;
    margin-right: 10px;
}

.info-item::after{
    content: '';
    display: block;
    height: 20px;
}

.info-item p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--white);
    max-width: 320px;
    display: inline-block;
}

.info-item a{
	font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--white);
    max-width: 320px;
    display: inline-block;
}

.footer-btn {
    color: var(--black);
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    background: var(--yellow);
    padding: 3px 10px 5px 10px;
    max-width: 125px;
    border: 2px solid var(--yellow);
    transition: .5s;
}

.footer-btn:hover {
    background: var(--dark-blue);
    border-color: var(--dark-blue);
}

.paws {
    max-width: 130px;
    display: inline-block;
}

.paws p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--white);
    max-width: 120px;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
}

.paws img {
    padding-bottom: 20px;
}